[core]
  excludesfile = ~/.gitignore

[push]
  default = current

[pull]
  ff = only

[user]
  name = Percy Grunwald
  email = percy.grunwald@gmail.com

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
